{% extends 'base.html' %}
{% block title %}NEW Rule Builder{% endblock %}



{% block content %}

{% if not user.is_authenticated %}
<div class="alert alert-warning alert-dismissible fade show  mr-4 ml-4" role="alert">
    You need to <a class="linkc alert-link text-light-thick" href="{% url 'login' %}">Login</a> or <a
        class="linkc alert-link text-light-thick" href="{% url 'signup' %}">Register</a> to save rules and strategies
    permanently.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

<div class="row ml-2 mr-1">
    <a class="btn btn-outline-secondary col-sm-4" href="{% url 'viewMLData' %}" target="_blank">View Saved Data</a>
</div>

<div>
    <h3>Strategy Builder</h3>
    <div id="blocklyDiv" style="height: 480px; width: 800px;"></div>
    <xml id="toolbox" style="display: none">
        <block type="controls_repeat_ext">
            <value name="TIMES">
                <shadow type="math_number">
                    <field name="NUM">5</field>
                </shadow>
            </value>
        </block>
    </xml>
</div>





<!-- RuleBuilder JS-->
{% load static%}

<script src="https://unpkg.com/blockly/blockly.min.js"></script>
<script type="text/javascript" src="{% static 'js/strategyBuilder.js' %}"></script>

{% endblock %}